<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partial/head %>
  </head>
  <body class="container">
    <main>
      <h1>Fullstack Challenge</h1>
      <ul id="project-grid">
        <% for (var i = 0; i < projects.length; i++) { %>
        <li>
          <img src="<%= projects[i].image_url %>" alt="project image" />
          <div>
            <a href="/detail/<%= projects[i].id %>"><%= projects[i].name %></a>
            <div
              class="owner"
              onmouseover="hover(event, '<%= projects[i].owner_id %>')"
              onmouseout="hoverout(event)"
            >
              <%= projects[i].owner %>
              <div class="tooltip"></div>
            </div>
            <p><%= projects[i].summary %></p>
          </div>
        </li>
        <% } %>
      </ul>
      <div id="loading" class="hide">Loading...</div>
      <div class="button-wrapper">
        <button
          id="prev"
          class="<% if (!hasPrev) { %>hide<% } %>"
          onclick="prev()"
        >
          Previous
        </button>
        <button
          id="next"
          class="<% if (!hasNext) { %>hide<% } %>"
          onclick="next()"
        >
          Next
        </button>
      </div>
    </main>
    <script src="/js/projectList.js"></script>
  </body>
</html>
